body{
    background-color: pink;
}
h2{
    color: purple;
    text-align: center;
    margin-top: 10px;
}
.keke{
    width: 670px;
    margin: 15px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.kekee{
    width: 670px;
    margin: 15px auto;
    padding: 55px;
    border:rosybrown 10px;
    border-style: dashed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}