body{
    background-color: beige;
}
h2{
    color: darkmagenta;   
    text-align: center;
}
.kotak{
    background-color: rosybrown;
    max-width: 800px;
    min-height: 300px;
    padding: 7px;
    margin: 0 auto;   
}
img{
    float: right;
    margin: 0 0 1em 1em;
}