h2{
    color: darksalmon;   
    text-align: center;
}
h3{
    color: rgb(2, 16, 24);
}
body{
    background-color: bisque;
}
.static{
    width: 800px;
    margin: 0 auto;
    border-width: 4px;
    border-style: solid;
    border-color: purple;
    background-color: mistyrose;
    padding: 4px;
    position:static;
}
.relative1{
    width: 800px;
    height: 50px;
    background-color: mistyrose;
    margin: 0 auto;
    border-width: 4px;
    border-style: solid;
    border-color: slateblue;
    padding: 4px;
    position: relative;
}
.relative2{
    width: 500px;
    height: 50px;
    top: -40px;
    right: 130px;
    background-color: mistyrose;
    margin: 0 auto;
    border-width: 6px;
    border-style: solid;
    border-color: sienna;
    padding: 4px;
    position: relative;
}
.relative{
    width: 400px;
    height: 400px;
    background-color: mistyrose;
    border-width: 5px;
    border-style: solid;
    border-color: #B85F74;
    padding: 4px;
    margin-left: 30px;
    position: relative;
}
.absolute{
    width: 200px;
    height: 200px;
    background-color: mistyrose;
    border-width: 4px;
    border-style: solid;
    border-color: orangered;
    padding: 4px;
    position:absolute;
    right: 0px;
    top: 100px;

}
.fixed{
    width: 170px;
    height: 100px;
    background-color: mistyrose;
    border-width: 4px;
    border-style: solid;
    border-color: maroon;
    padding: 5px;
    position: fixed;
    right: 0px;
    top: 0px;
}